.Service__card {
  background: #fafafa;
  border: 1px solid #f0f0f0;
  box-sizing: border-box;
  border-radius: 8px;
  height: 265px;
  min-width: 310px;
  padding: 0 1rem;
}

.Service__card:hover {
  background: #ffffff;
  border-color: rgba(239, 239, 239, 0.6);
  box-shadow: 0px 30px 30px rgba(99, 122, 166, 0.1);
}

.Card__Title {
  font-weight: bold;
  font-size: 20px;
  line-height: 178.69%;
  text-align: center;
  text-transform: uppercase;
  color: #2c3847;
}

.Card__Desc {
  font-weight: 450;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #828282;
}

#svg__bg {
  fill: #fafafa;
}

.Service__card:hover #svg__bg {
  fill: white;
}
